/* // put your styles here */

:root {

    --headline-font: 'Georgia', 'Times New Roman', Times, serif;
    --text-font: 'Courier new', Courier, monospace;

    --black: #000000;
    --white: #FFFFFF;

    --light-black: #333333;

    --text-color: #555555;
    --text-color-white: #CCCCCC;
    --text-color-light: #707070;
    --text-color-light-white: #AAAAAA;

    --border-color: rgba(0, 0, 0, 0.15);
    --border-color-white: rgba(255, 255, 255, 0.15);

    --background-color: #F7F2EA;
    --header-background-color: #EEE6DD;
    --footer-background-color: #F4EDE6;
    --border-color: rgba(0, 0, 0, 0.15);
    --border-color-white: rgba(255, 255, 255, 0.15);

    --line-global: 20px;
    --gutter-global: var(var(--line-global));
    --offset-global: calc(var(--line-global) * 2);

    --header-height: calc(var(--line-global) * 4);

    --type-headline-lg: 40px;
    --type-headline-med: 20px;
    --type-headline-sm: 15px;
    --type-body-med: 15px;
    --type-body-sm: 13px;

    --type-bold: 700;
    --type-book: 400;

}